.register {
    &-wrapper {
        @include flexBox(null);
        justify-content: space-between;
        padding-bottom: 100px;

        @include responsive_bothTM {
            flex-direction: column;
        }

        @include responsive_table {
            padding-bottom: 80px;
        }

        @include responsive_mobile {
            padding-bottom: 50px;
        }
    }

    &-inner {
        text-align: center;
        min-width: 580px;
        height: fit-content;
        margin-top: -103px;
        padding: 0 33px 48px 33px;

        border-radius: 20px;
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;

        @include responsive_HD {
            min-width: 50%;
            padding: 0 26px 40px 26px;
        }

        @include responsive_table {
            padding: 0 22px 35px 22px;
            margin: -50px auto 0;

            max-width: 70%;
        }

        @include responsive_mobile {
            min-width: 100%;
            padding: 0 15px 30px 15px;
            margin-top: 0;
        }

        &.coupon {
            margin-top: -123px;
            padding: 30px 33px 45px 33px;

            @include responsive_mobile {
                margin-top: -60px;
                padding: 30px 33px 30px 33px;
            }
        }

        &__note {
            padding: 30px 35px 0 35px;

            @include responsive_table {
                padding: 24px 0 0;
            }

            @include responsive_mobile {
                padding: 14px 0 0;
            }
        }

        &__sub {
            margin-top: 40px;
            padding: 12px 54px;
            background-color: rgba($color: $color-orange, $alpha: 0.2);
            color: $color-orange;
            font-weight: 500;
            display: inline-block;
            border-radius: 50px;

            @include responsive_table {
                margin-top: 30px;
                padding: 10px 45px;
            }

            @include responsive_mobile {
                margin-top: 24px;
                padding: 8px 40px;
                font-size: 14px;
            }
        }

        &__code {
            @include imgPT(25%);
            width: 50%;
            margin: 20px auto;

            @include responsive_table {
                width: 60%;
                @include imgPT(27%);
            }

            @include responsive_mobile {
                width: 70%;
                @include imgPT(30%);
            }
        }

        &__info {
            padding: 16px 0;
            line-height: 2;

            @include responsive_table {
                padding: 14px 0;
                line-height: 1.7;
            }

            @include responsive_mobile {
                padding: 10px 0 0;
                line-height: 1.6;
            }
        }
    }

    &-form {
        --size_count: 60px;

        @include responsive_table {
            --size_count: 45px;
        }

        @include responsive_mobile {
            --size_count: 35px;
        }

        &__img {
            @include imgPT(45%);
            width: 86%;
            margin: -70px auto 0;
            border-radius: 15px;

            @include responsive_bothTM {
                width: 100%;
                padding-top: 50%;
            }
        }

        &__title {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            padding-top: 20px;
            width: 80%;
            margin: 0 auto;

            @include responsive_table {
                font-size: 26px;
                width: 100%;
            }

            @include responsive_mobile {
                font-size: 20px;
                padding-top: 16px;
                width: 100%;
            }

            & > sup {
                font-size: 20px;

                @include responsive_mobile {
                    font-size: 14px;
                }
            }
        }

        &__note {
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            color: $color-main;
            padding-top: 16px;

            @include responsive_bothTM {
                font-size: 14px;
            }
        }

        &__time {
            @include flexBox(top);
            justify-content: center;
            margin-top: 30px;

            @include responsive_mobile {
                margin-top: 22px;
            }
        }

        &__cover {
            @include flexBox(hor);
            flex-direction: column;
        }

        &__number {
            font-size: 30px;
            color: #fff;
            font-weight: bold;

            width: var(--size_count);
            height: var(--size_count);
            @include flexBox(both);
            background-color: $color-title;
            border-radius: 5px;
            transition: all 0.3s linear;

            @include responsive_table {
                font-size: 18px;
            }

            @include responsive_mobile {
                font-size: 16px;
            }
        }

        &__format {
            padding-top: 10px;

            @include responsive_mobile {
                font-size: 14px;
            }
        }

        &__sub {
            font-size: 34px;
            font-weight: bold;
            height: var(--size_count);
            width: 60px;
            @include flexBox(both);

            @include responsive_table {
                font-size: 26px;
                width: 30px;
            }

            @include responsive_mobile {
                font-size: 20px;
                width: 24px;
            }
        }

        &__content {
            padding: 30px 17px 0 17px;

            @include responsive_HD {
                padding: 30px 0 0;
            }

            & > input {
                height: 45px;
                border: 1px solid rgba($color: $color-desc, $alpha: 0.35);
                width: 100%;

                border-radius: 50px;
                text-align: center;

                &::placeholder {
                    color: rgba($color: $color-desc, $alpha: 0.35);
                }

                @include responsive_table {
                    height: 40px;
                }

                @include responsive_mobile {
                    height: 38px;
                    font-size: 14px;
                }
            }

            input + input {
                margin-top: 20px;
            }

            & > textarea {
                min-height: 150px;
                width: 100%;
                border: 1px solid rgba($color: $color-desc, $alpha: 0.35);
                border-radius: 23px;
                padding: 17px 30px;

                @include responsive_table {
                    padding: 12px 24px;
                }

                @include responsive_mobile {
                    padding: 10px 15px;
                    font-size: 14px;
                    min-height: 130px;
                }
            }
        }

        &__btn {
            color: #fff;
            font-size: 18px;
            font-weight: bold;

            height: 50px;
            border-radius: 50px;
            background-color: $color-main;
            border: 0;

            margin: 34px 17px 0 17px;
            display: inline-block;
            width: -webkit-fill-available;

            &.success {
                width: auto;
                padding: 0 50px;
                margin-top: 0;
            }

            @include responsive_HD {
                margin: 30px 0 0;
            }

            @include responsive_table {
                margin: 28px 0 0;
                height: 45px;
            }

            @include responsive_mobile {
                margin: 24px 0 0;
                height: 42px;
                font-size: 16px;
            }
        }

        // option
        &__select {
            @include flexBox(both);
            flex-flow: row wrap;
            margin: 0 auto;
            padding: 5px 0;

            @include responsive_mobile {
                display: block;
            }

            &.grid {
                @include gridBox(2, 0, 0);
                width: 60%;

                @include responsive_bothTM {
                    width: 100%;
                }

                .register-form {
                    &__option {
                        padding-left: 0;
                    }
                }
            }
        }

        &__option {
            @include flexBox(top);
            margin-top: 14px;
            cursor: pointer;

            & + & {
                padding-left: 30px;

                @include responsive_mobile {
                    padding-left: 0;
                }
            }
        }

        &__input {
            display: none;
            cursor: pointer;

            &:checked {
                & ~ .register-form__label {
                    border: 0;

                    & > svg {
                        display: block;
                    }
                }
            }
        }

        &__label {
            min-width: 20px;
            height: 20px;
            margin-top: 1px;
            margin-right: 10px;
            @include flexBox(both);

            cursor: pointer;
            border-radius: 50%;
            border: 2px solid #cdcdcd;
            transition: 0.3s all linear;

            & > svg {
                transition: 0.3s all linear;
                display: none;
            }

            &.tick {
                position: relative;
                width: 22px;
                height: 22px;
                margin-right: 12px;
                border: 2.8px solid #cdcdcd;
                border-radius: 4px;
                transition: all 0.1s;

                &::after {
                    content: "";
                    position: absolute;
                    right: -4px;
                    top: -9px;
                    width: 7px;
                    height: 18px;
                    z-index: 9;
                    transform: rotate(138deg);
                    background-color: #ffffff;
                }
            }
        }

        &__value {
            font-weight: 500;
            cursor: pointer;
        }
    }

    &-cover {
        padding: 70px 0 0 100px;
        min-width: 50%;

        @include responsive_HD {
            padding: 50px 0 0 60px;
        }

        @include responsive_table {
            padding: 35px 0 0 30px;
        }

        @include responsive_mobile {
            padding: 30px 0 0 0;
        }

        &__title {
            font-size: 30px;
            font-weight: bold;
            padding-bottom: 20px;

            @include responsive_table {
                font-size: 26px;
            }

            @include responsive_mobile {
                text-align: center;
                font-size: 20px;
            }
        }

        &__content {
            .banner-content {
                &__box {
                    & > svg {
                        margin-top: 2px;
                    }
                }

                &__text {
                    font-size: 16px;
                }
            }
        }
    }

    &-rotation {
        min-width: 50%;
        padding-right: 30px;
        margin-top: -103px;

        &__circle {
            position: relative;
            @include flexBox(both);
        }

        &__btn:visited,
        &__btn {
            position: absolute;
            top: 50%;
            left: 50%;

            height: 98px;
            width: 98px;

            font-size: 28px;
            font-weight: 800;

            color: #fff;
            box-shadow: 4px 4px 20px 0 #cc4c45;
            border-radius: 50%;
            background-color: #ebb34f;
            transform: translate(-50%, -50%);

            @include responsive_bothTM {
                font-size: 24px;
            }

            &:hover {
                opacity: 1;
                color: #fff;
                background-color: #db9b29;
            }
        }
    }
}
