html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

input,
textarea,
select,
button {
  outline: none; }

a {
  display: block;
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p,
h1,
h4,
h2,
h3 {
  margin: 0; }

button:focus {
  box-shadow: none !important; }

button:hover {
  opacity: 0.9; }

a,
a.nav-link {
  color: #010101; }
  a:hover,
  a.nav-link:hover {
    color: #f43127;
    opacity: 0.9; }

/* PC Alway  */
/* PC BIG  */
/* PC BIG Lower */
/* PC BIG 16 */
/* PC fit */
/* PC fit lower */
/* PC fit lower */
/* PC fit small */
/* PC HD */
/* PC Change */
/* PC LOWER  min-1023px */
/* Mobile & tablet */
/* Tablet */
/* Mobile */
/* Phone Small */
html {
  font-size: 16px;
  scroll-behavior: smooth !important; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 400;
  color: #010101;
  background-color: #f7f8fa;
  padding-right: 0 !important;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s linear; }
  @media only screen and (min-width: 1650px) {
    body .container-xl {
      max-width: 1216px; } }
  @media only screen and (min-width: 1650px) {
    body .container {
      max-width: 1340px; } }
  @media only screen and (max-width: 63.9375em) {
    body .container {
      max-width: 100%; }
      body .container .hide-on-bothTM {
        display: none !important; } }

.modal-backdrop.show {
  z-index: 1076;
  opacity: 0.86; }

.modal {
  z-index: 1077; }
  .modal::after {
    position: absolute;
    content: "";
    z-index: -2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(50%) blur(10px); }
    @media only screen and (max-width: 46.1875em) {
      .modal::after {
        backdrop-filter: grayscale(50%) blur(2px); }
        .modal::after .hide-on-mobile {
          display: none; } }

.offcanvas {
  z-index: 1056; }
  .offcanvas-backdrop {
    z-index: 1055; }

.loading {
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1099;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65); }
  .loading.active {
    display: flex; }
  .loading-icon {
    position: relative;
    z-index: 10;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    border: 3.4px solid #f43127;
    border-left: 3.4px solid transparent;
    border-top: 3.4px solid transparent;
    border-bottom: 3.4px solid transparent;
    animation: spinner 1s infinite normal running linear; }
  .loading-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    font-size: 2.8rem;
    font-weight: 400;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%); }

.load-group {
  position: relative; }

.load-more {
  position: relative;
  transition: all 0.8s linear;
  overflow-y: hidden;
  max-height: 144px; }
  .load-more.special::after {
    display: block; }
  .load-more::after {
    display: none;
    position: absolute;
    content: "";
    left: 0;
    top: 90%;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.88); }

.swiper-btn::after {
  display: none !important; }

@keyframes smoothScroll {
  0% {
    transform: translateY(-140px); }
  100% {
    transform: translateY(0px); } }

@keyframes fadeHide {
  0% {
    height: 116px;
    opacity: 1; }
  100% {
    height: 0px;
    opacity: 0; } }

@keyframes fadeSearch {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

@keyframes fadeShow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes spinner {
  100% {
    transform: rotate(360deg); } }

/* Track */
/* Handle */
/* Handle on hover */
.general-wrapper {
  margin-bottom: 35px;
  padding: 25px 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 6px -1px, rgba(0, 0, 0, 0.04) 0px 2px 4px -1px; }
  @media only screen and (max-width: 1366px) {
    .general-wrapper {
      padding: 22px 22px; } }
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .general-wrapper {
      padding: 22px 22px; } }
  @media only screen and (max-width: 46.1875em) {
    .general-wrapper {
      padding: 18px 18px; }
      .general-wrapper .hide-on-mobile {
        display: none; } }

.general-header {
  padding-bottom: 20px;
  border-bottom: 1.2px solid #cdcdcd;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 46.1875em) {
    .general-header {
      padding-bottom: 14px; }
      .general-header .hide-on-mobile {
        display: none; } }
  .general-header.special {
    color: #fff;
    border-bottom: 0; }
    .general-header.special .general-header__link {
      color: #fff; }
      .general-header.special .general-header__link > svg > path {
        fill: #fff; }
  .general-header__title {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase; }
    @media only screen and (max-width: 1366px) {
      .general-header__title {
        font-size: 18px; } }
    @media only screen and (max-width: 46.1875em) {
      .general-header__title {
        font-size: 15px; }
        .general-header__title .hide-on-mobile {
          display: none; } }
  .general-header__link {
    font-style: italic;
    color: #fcb302; }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .general-header__link {
        font-size: 15px; } }
    @media only screen and (max-width: 46.1875em) {
      .general-header__link {
        font-size: 14px; }
        .general-header__link .hide-on-mobile {
          display: none; } }
    .general-header__link > svg {
      margin-left: 6px; }

.header {
  background-color: transparent;
  height: 0; }
  .header-wrapper {
    position: relative;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 24px 0; }
    @media only screen and (max-width: 63.9375em) {
      .header-wrapper {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0; }
        .header-wrapper .hide-on-bothTM {
          display: none !important; } }
  .header-scroll.fixed {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    z-index: 1054;
    background-color: #f4ecde;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.5s linear;
    animation: smoothScroll 0.8s forwards; }
    .header-scroll.fixed.active {
      display: block; }
    .header-scroll.fixed .header-wrapper {
      padding: 10px 0; }
  .header-logo {
    padding-right: 68px; }
    @media only screen and (min-width: 63.9375em) and (max-width: 1241px) {
      .header-logo {
        padding-right: 45px; } }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .header-logo {
        width: 240px; } }
    @media only screen and (max-width: 46.1875em) {
      .header-logo {
        padding-right: 15px;
        width: 150px; }
        .header-logo .hide-on-mobile {
          display: none; } }
  .header-cover {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 63.9375em) {
      .header-cover {
        display: none; }
        .header-cover .hide-on-bothTM {
          display: none !important; } }
  .header-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
    .header-nav__link {
      font-weight: bold; }
      .header-nav__link + .header-nav__link {
        padding-left: 40px; }
        @media only screen and (min-width: 63.9375em) and (max-width: 1241px) {
          .header-nav__link + .header-nav__link {
            padding-left: 30px; } }
      .header-nav__link.active {
        color: #f43127; }
    @media only screen and (max-width: 63.9375em) {
      .header-nav {
        display: none; }
        .header-nav .hide-on-bothTM {
          display: none !important; } }
    .header-nav__mobile {
      padding: 20px 10px; }
      .header-nav__mobile .header-nav__link {
        padding: 10px;
        border-bottom: 1px solid rgba(95, 95, 95, 0.2); }
        .header-nav__mobile .header-nav__link:last-child {
          border: 0; }
  .header-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
    .header-box__icon {
      padding-right: 12px; }
    .header-box__sub {
      color: #5f5f5f; }
      @media only screen and (max-width: 46.1875em) {
        .header-box__sub {
          font-size: 14px;
          line-height: 1.2; }
          .header-box__sub .hide-on-mobile {
            display: none; } }
    .header-box__hotline {
      font-size: 22px;
      font-weight: bold;
      color: #f43127; }
      @media only screen and (max-width: 63.9375em) {
        .header-box__hotline {
          font-size: 16px; }
          .header-box__hotline .hide-on-bothTM {
            display: none !important; } }
      @media only screen and (max-width: 46.1875em) {
        .header-box__hotline {
          font-size: 15px;
          line-height: 1.4; }
          .header-box__hotline .hide-on-mobile {
            display: none; } }
  .header-mobile {
    display: none;
    margin-left: 26px; }
    @media only screen and (max-width: 63.9375em) {
      .header-mobile {
        display: block; }
        .header-mobile .hide-on-bothTM {
          display: none !important; } }
    .header-mobile > i {
      font-size: 28px;
      color: #5f5f5f; }

.footer-wrapper {
  padding: 40px 0 30px; }
  @media only screen and (max-width: 46.1875em) {
    .footer-wrapper {
      padding: 25px 0; }
      .footer-wrapper .hide-on-mobile {
        display: none; } }

.footer-hotline__mobile {
  display: none;
  position: relative; }
  @media only screen and (max-width: 63.9375em) {
    .footer-hotline__mobile {
      display: block;
      position: fixed;
      z-index: 11;
      bottom: 160px;
      right: 140px; }
      .footer-hotline__mobile .hide-on-bothTM {
        display: none !important; } }
  .footer-hotline__mobile .coccoc-alo-ph-circle {
    width: 80px;
    height: 80px;
    top: 60px;
    left: 60px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: 0.1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .footer-hotline__mobile .coccoc-alo-phone {
    background-color: transparent;
    width: 0;
    height: 0;
    cursor: pointer;
    z-index: 111 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility 0.5s;
    -moz-transition: visibility 0.5s;
    -o-transition: visibility 0.5s;
    transition: visibility 0.5s; }
  .footer-hotline__mobile .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
    background-color: rgba(244, 49, 39, 0.5);
    opacity: 0.75 !important; }
  .footer-hotline__mobile .coccoc-alo-ph-circle-fill {
    width: 60px;
    height: 60px;
    top: 70px;
    left: 70px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .footer-hotline__mobile .coccoc-alo-ph-img-circle {
    width: 60px;
    height: 60px;
    top: 70px;
    left: 70px;
    position: absolute;
    background: rgba(30, 30, 30, 0.1) url(https://drive.google.com/uc?id=1V3N2b79QjDWetC_ss9wI3c-xpWDymn9R) no-repeat center center;
    background-size: 60%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.7;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out; }
  .footer-hotline__mobile .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
    background-color: #f43127; }
  .footer-hotline__mobile .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
    border-color: #f43127;
    opacity: 0.5; }
  .footer-hotline__mobile .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
  .footer-hotline__mobile .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
    border-color: #75eb50;
    opacity: 0.5; }
  .footer-hotline__mobile .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
  .footer-hotline__mobile .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
    background-color: rgba(117, 235, 80, 0.5);
    opacity: 0.75 !important; }
  .footer-hotline__mobile .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
  .footer-hotline__mobile .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
    background-color: #75eb50; }

@-moz-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }

@-o-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }

@keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }

@-moz-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }

@-o-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }

@keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }

@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }

@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }

@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }

.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(95, 95, 95, 0.2);
  max-height: 300px;
  overflow: auto; }
  .footer-top::-webkit-scrollbar {
    display: none; }
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .footer-top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 30px; } }
  @media only screen and (max-width: 46.1875em) {
    .footer-top {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px 20px; }
      .footer-top .hide-on-mobile {
        display: none; } }
  @media only screen and (max-width: 46.1875em) {
    .footer-top__item {
      padding-top: 15px;
      border-top: 1px solid rgba(95, 95, 95, 0.2); }
      .footer-top__item .hide-on-mobile {
        display: none; } }
  .footer-top__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 8px; }
    @media only screen and (max-width: 46.1875em) {
      .footer-top__title {
        font-size: 16px; }
        .footer-top__title .hide-on-mobile {
          display: none; } }
  .footer-top__link {
    padding: 7px 0 0;
    color: #f43127; }
  .footer-top__hotline {
    font-size: 20px;
    padding: 10px 0 5px;
    font-weight: bold; }
    @media only screen and (max-width: 46.1875em) {
      .footer-top__hotline {
        font-size: 17px;
        padding: 7px 0 3px; }
        .footer-top__hotline .hide-on-mobile {
          display: none; } }

.footer-bottom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px; }
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .footer-bottom {
      flex-flow: row wrap;
      justify-content: center; } }
  @media only screen and (max-width: 46.1875em) {
    .footer-bottom {
      flex-direction: column;
      padding-top: 30px; }
      .footer-bottom .hide-on-mobile {
        display: none; } }
  .footer-bottom__social {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .footer-bottom__social {
        padding-left: 50px; } }
    @media only screen and (max-width: 46.1875em) {
      .footer-bottom__social {
        padding: 25px 0; }
        .footer-bottom__social .hide-on-mobile {
          display: none; } }
  .footer-bottom__link + .footer-bottom__link {
    padding-left: 20px; }
  .footer-bottom__link:first-child {
    padding-left: 0; }

.footer-copyright {
  font-size: 14px;
  color: rgba(95, 95, 95, 0.5); }
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .footer-copyright {
      padding: 20px 50px 0; } }

.banner {
  height: max-content;
  position: relative; }
  .banner::before {
    content: "";
    background-image: url(/assets/images/Icon/Icon-banner2.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; }
    @media only screen and (max-width: 63.9375em) {
      .banner::before {
        background-size: 20%; }
        .banner::before .hide-on-bothTM {
          display: none !important; } }
  .banner-content {
    padding: 110px 0 60px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    @media only screen and (max-width: 63.9375em) {
      .banner-content {
        flex-direction: column;
        flex-direction: column-reverse; }
        .banner-content .hide-on-bothTM {
          display: none !important; } }
    @media only screen and (max-width: 46.1875em) {
      .banner-content {
        padding: 70px 0 30px; }
        .banner-content .hide-on-mobile {
          display: none; } }
    .banner-content__cover {
      width: 48%; }
      @media only screen and (max-width: 63.9375em) {
        .banner-content__cover {
          width: 70%;
          padding-top: 30px; }
          .banner-content__cover .hide-on-bothTM {
            display: none !important; } }
      @media only screen and (max-width: 46.1875em) {
        .banner-content__cover {
          text-align: center;
          width: 100%; }
          .banner-content__cover .hide-on-mobile {
            display: none; } }
    .banner-content__sub {
      font-size: 18px;
      color: #fff;
      background-color: #f43127;
      padding: 6px 30px 6px 20px;
      clip-path: polygon(0 0, 100% 0, 95% 50%, 100% 100%, 0 100%); }
    .banner-content__title {
      font-size: 70px;
      font-weight: 900;
      padding: 25px 0; }
      @media only screen and (max-width: 1440px) {
        .banner-content__title {
          font-size: 40px; } }
      @media only screen and (max-width: 46.1875em) {
        .banner-content__title {
          font-size: 30px;
          text-align: left; }
          .banner-content__title .hide-on-mobile {
            display: none; } }
    .banner-content__box {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: flex-start; }
      .banner-content__box + .banner-content__box {
        padding-top: 10px; }
      .banner-content__box > svg {
        min-width: 20px;
        min-height: 20px;
        margin-top: 6px; }
    .banner-content__text {
      font-size: 20px;
      color: #5f5f5f;
      padding-left: 10px;
      font-weight: 500; }
      @media only screen and (max-width: 46.1875em) {
        .banner-content__text {
          font-size: 16px; }
          .banner-content__text .hide-on-mobile {
            display: none; } }
    .banner-content__icon {
      margin-right: -110px; }
      @media only screen and (max-width: 1283px) {
        .banner-content__icon {
          margin-right: 0; }
          .banner-content__icon .hide-on-pc-HD {
            display: none; } }
      @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
        .banner-content__icon {
          width: 60%; } }
      @media only screen and (max-width: 46.1875em) {
        .banner-content__icon {
          width: 90%; }
          .banner-content__icon .hide-on-mobile {
            display: none; } }

.box {
  position: relative;
  z-index: 10; }
  .box-wrapper {
    margin: -90px 0 150px; }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .box-wrapper {
        margin: 40px 0 100px; } }
    @media only screen and (max-width: 46.1875em) {
      .box-wrapper {
        margin: 30px 0 80px; }
        .box-wrapper .hide-on-mobile {
          display: none; } }
  .box-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 40px; }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .box-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 30px; } }
    @media only screen and (max-width: 46.1875em) {
      .box-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px 25px; }
        .box-list .hide-on-mobile {
          display: none; } }
    .box-list__item {
      position: relative;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: bottom;
      background-size: auto;
      border-radius: 20px;
      overflow: hidden;
      background-color: #fff;
      min-height: 385px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
      @media only screen and (max-width: 46.1875em) {
        .box-list__item {
          width: 85%;
          margin: 0 auto;
          min-height: initial; }
          .box-list__item .hide-on-mobile {
            display: none; } }
    .box-list__heading {
      padding: 35px 0 95px;
      text-align: center;
      background-color: #f43127;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      color: #fff; }
      @media only screen and (max-width: 46.1875em) {
        .box-list__heading {
          padding: 20px 0 60px; }
          .box-list__heading .hide-on-mobile {
            display: none; } }
    .box-list__title {
      padding-bottom: 20px;
      font-size: 24px;
      font-weight: bold; }
    .box-list__btn {
      padding: 8px 20px 7px;
      border: 2px solid #fcb302;
      border-radius: 100px;
      display: inline-block;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase; }
      .box-list__btn:hover {
        color: #fff; }
      .box-list__btn > i {
        padding-right: 6px; }
    .box-list__img {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
      @media only screen and (max-width: 46.1875em) {
        .box-list__img {
          position: relative;
          margin-top: -40px;
          width: 60%; }
          .box-list__img .hide-on-mobile {
            display: none; } }
      .box-list__img > img {
        margin: 0 auto; }
      .box-list__img.specical {
        bottom: 20px; }
        @media only screen and (max-width: 46.1875em) {
          .box-list__img.specical {
            bottom: 0; }
            .box-list__img.specical .hide-on-mobile {
              display: none; } }

.bg {
  min-height: 330px; }
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .bg {
      min-height: 250px; } }
  @media only screen and (max-width: 46.1875em) {
    .bg {
      min-height: 150px; }
      .bg .hide-on-mobile {
        display: none; } }
  .bg-title {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding-top: 195px; }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .bg-title {
        padding-top: 120px;
        font-size: 35px; } }
    @media only screen and (max-width: 46.1875em) {
      .bg-title {
        padding-top: 80px;
        font-size: 24px; }
        .bg-title .hide-on-mobile {
          display: none; } }

.code-wrapper {
  padding: 60px 0 100px; }
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .code-wrapper {
      padding: 50px 0 80px; } }
  @media only screen and (max-width: 46.1875em) {
    .code-wrapper {
      padding: 30px 0 60px; }
      .code-wrapper .hide-on-mobile {
        display: none; } }

.code-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 30px; }
  @media only screen and (min-width: 63.9375em) and (max-width: 1241px) {
    .code-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 20px; } }
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .code-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 20px; } }
  @media only screen and (max-width: 46.1875em) {
    .code-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px 20px; }
      .code-list .hide-on-mobile {
        display: none; } }

.code-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 63.9375em) {
    .code-item {
      display: block;
      background-color: #fff;
      border-radius: 15px;
      margin-top: 80px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
      .code-item .hide-on-bothTM {
        display: none !important; } }
  .code-item__img {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    min-width: 300px;
    height: 158px;
    border-radius: 15px; }
    .code-item__img > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media only screen and (max-width: 1440px) {
      .code-item__img {
        min-width: 250px; } }
    @media only screen and (min-width: 63.9375em) and (max-width: 1241px) {
      .code-item__img {
        min-width: 225px; } }
    @media only screen and (max-width: 63.9375em) {
      .code-item__img {
        max-width: 90%;
        height: auto;
        position: relative;
        padding-top: 47%;
        overflow: hidden;
        margin: -80px auto 0; }
        .code-item__img .hide-on-bothTM {
          display: none !important; }
        .code-item__img > img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover; } }
  .code-item__content {
    padding: 30px 25px 30px 175px;
    background-color: #fff;
    border-radius: 20px;
    margin-left: -150px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px; }
    .code-item__content:hover {
      box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px; }
    @media only screen and (min-width: 63.9375em) and (max-width: 1241px) {
      .code-item__content {
        padding: 30px 20px 30px 165px; } }
    @media only screen and (max-width: 63.9375em) {
      .code-item__content {
        padding: 20px 25px 25px;
        margin-left: 0; }
        .code-item__content .hide-on-bothTM {
          display: none !important; } }
  .code-item__title {
    font-size: 20px;
    font-weight: bold; }
    @media only screen and (max-width: 46.1875em) {
      .code-item__title {
        font-size: 17px; }
        .code-item__title .hide-on-mobile {
          display: none; } }
    .code-item__title > sup {
      font-size: 13px; }
  .code-item__text {
    font-size: 14px;
    padding-top: 5px; }
  .code-item__date {
    font-weight: bold;
    color: #f43127;
    padding-top: 2px; }
  .code-item__cover {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px; }
    @media only screen and (max-width: 63.9375em) {
      .code-item__cover {
        justify-content: left; }
        .code-item__cover .hide-on-bothTM {
          display: none !important; } }
  .code-item__time {
    font-size: 12px;
    font-weight: bold;
    margin-right: 12px; }
  .code-item__sub {
    color: #fff;
    background-color: #010101;
    padding: 6px;
    border-radius: 5px;
    transition: all 0.3s linear; }
  .code-item__btn {
    font-size: 14px;
    color: #fcb302;
    padding: 3px 13px 1px;
    border: 1px solid #fcb302;
    border-radius: 5px; }
    .code-item__btn:hover {
      color: #fff;
      background-color: #fcb302; }

.register-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding-bottom: 100px; }
  @media only screen and (max-width: 63.9375em) {
    .register-wrapper {
      flex-direction: column-reverse; }
      .register-wrapper .hide-on-bothTM {
        display: none !important; } }
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .register-wrapper {
      padding-bottom: 40px; } }
  @media only screen and (max-width: 46.1875em) {
    .register-wrapper {
      padding-bottom: 18px; }
      .register-wrapper .hide-on-mobile {
        display: none; } }
  @media only screen and (max-width: 46.1875em) {
    .register-wrapper.special {
      margin-top: -80px;
      flex-direction: column; }
      .register-wrapper.special .hide-on-mobile {
        display: none; } }

.register-inner {
  text-align: center;
  min-width: 580px;
  height: fit-content;
  margin-top: -103px;
  padding: 0 33px 48px 33px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px; }
  @media only screen and (max-width: 1283px) {
    .register-inner {
      min-width: 50%;
      padding: 0 26px 40px 26px; }
      .register-inner .hide-on-pc-HD {
        display: none; } }
  @media only screen and (max-width: 63.9375em) {
    .register-inner {
      padding: 0 15px 30px 15px;
      margin: 100px auto 0; }
      .register-inner .hide-on-bothTM {
        display: none !important; } }
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .register-inner {
      max-width: 90%; } }
  @media only screen and (max-width: 46.1875em) {
    .register-inner {
      min-width: auto;
      width: 100%; }
      .register-inner .hide-on-mobile {
        display: none; } }
  .register-inner.coupon {
    margin-top: -123px;
    padding: 30px 33px 45px 33px; }
    @media only screen and (max-width: 63.9375em) {
      .register-inner.coupon {
        margin-top: 40px;
        padding: 30px 33px 30px 33px; }
        .register-inner.coupon .hide-on-bothTM {
          display: none !important; } }
  .register-inner__note {
    padding: 30px 35px 0 35px; }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .register-inner__note {
        padding: 24px 0 0; } }
    @media only screen and (max-width: 46.1875em) {
      .register-inner__note {
        padding: 14px 0 0; }
        .register-inner__note .hide-on-mobile {
          display: none; } }
  .register-inner__sub {
    margin-top: 40px;
    padding: 12px 54px;
    background-color: rgba(252, 179, 2, 0.2);
    color: #fcb302;
    font-weight: 500;
    display: inline-block;
    border-radius: 50px; }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .register-inner__sub {
        margin-top: 30px;
        padding: 10px 45px; } }
    @media only screen and (max-width: 46.1875em) {
      .register-inner__sub {
        margin-top: 24px;
        padding: 8px 40px;
        font-size: 14px; }
        .register-inner__sub .hide-on-mobile {
          display: none; } }
  .register-inner__code {
    position: relative;
    padding-top: 25%;
    overflow: hidden;
    width: 50%;
    margin: 20px auto; }
    .register-inner__code > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .register-inner__code {
        width: 60%;
        position: relative;
        padding-top: 27%;
        overflow: hidden; }
        .register-inner__code > img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover; } }
    @media only screen and (max-width: 46.1875em) {
      .register-inner__code {
        width: 70%;
        position: relative;
        padding-top: 30%;
        overflow: hidden; }
        .register-inner__code .hide-on-mobile {
          display: none; }
        .register-inner__code > img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover; } }
  .register-inner__info {
    padding: 16px 0;
    line-height: 2; }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .register-inner__info {
        padding: 14px 0;
        line-height: 1.7; } }
    @media only screen and (max-width: 46.1875em) {
      .register-inner__info {
        padding: 10px 0 0;
        line-height: 1.6; }
        .register-inner__info .hide-on-mobile {
          display: none; } }

.register-form {
  --size_count: 60px; }
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .register-form {
      --size_count: 45px; } }
  @media only screen and (max-width: 46.1875em) {
    .register-form {
      --size_count: 35px; }
      .register-form .hide-on-mobile {
        display: none; } }
  .register-form__img {
    position: relative;
    padding-top: 45%;
    overflow: hidden;
    width: 86%;
    margin: -70px auto 0;
    border-radius: 15px; }
    .register-form__img > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media only screen and (max-width: 63.9375em) {
      .register-form__img {
        width: 100%;
        padding-top: 50%; }
        .register-form__img .hide-on-bothTM {
          display: none !important; } }
  .register-form__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    width: 80%;
    margin: 0 auto; }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .register-form__title {
        font-size: 26px;
        width: 100%; } }
    @media only screen and (max-width: 46.1875em) {
      .register-form__title {
        font-size: 20px;
        padding-top: 16px;
        width: 100%; }
        .register-form__title .hide-on-mobile {
          display: none; } }
    .register-form__title > sup {
      font-size: 20px; }
      @media only screen and (max-width: 46.1875em) {
        .register-form__title > sup {
          font-size: 14px; }
          .register-form__title > sup .hide-on-mobile {
            display: none; } }
  .register-form__note {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #f43127;
    padding-top: 16px; }
    @media only screen and (max-width: 63.9375em) {
      .register-form__note {
        font-size: 14px; }
        .register-form__note .hide-on-bothTM {
          display: none !important; } }
  .register-form__time {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px; }
    @media only screen and (max-width: 46.1875em) {
      .register-form__time {
        margin-top: 22px; }
        .register-form__time .hide-on-mobile {
          display: none; } }
  .register-form__cover {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .register-form__number {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    width: var(--size_count);
    height: var(--size_count);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010101;
    border-radius: 5px;
    transition: all 0.3s linear; }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .register-form__number {
        font-size: 18px; } }
    @media only screen and (max-width: 46.1875em) {
      .register-form__number {
        font-size: 16px; }
        .register-form__number .hide-on-mobile {
          display: none; } }
  .register-form__format {
    padding-top: 10px; }
    @media only screen and (max-width: 46.1875em) {
      .register-form__format {
        font-size: 14px; }
        .register-form__format .hide-on-mobile {
          display: none; } }
  .register-form__sub {
    font-size: 34px;
    font-weight: bold;
    height: var(--size_count);
    width: 60px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .register-form__sub {
        font-size: 26px;
        width: 30px; } }
    @media only screen and (max-width: 46.1875em) {
      .register-form__sub {
        font-size: 20px;
        width: 24px; }
        .register-form__sub .hide-on-mobile {
          display: none; } }
  .register-form__content {
    padding: 30px 17px 0 17px; }
    @media only screen and (max-width: 1283px) {
      .register-form__content {
        padding: 30px 0 0; }
        .register-form__content .hide-on-pc-HD {
          display: none; } }
    .register-form__content > input {
      height: 45px;
      border: 1px solid rgba(95, 95, 95, 0.35);
      width: 100%;
      border-radius: 50px;
      text-align: center; }
      .register-form__content > input::placeholder {
        color: rgba(95, 95, 95, 0.35); }
      @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
        .register-form__content > input {
          height: 40px; } }
      @media only screen and (max-width: 46.1875em) {
        .register-form__content > input {
          height: 38px;
          font-size: 14px; }
          .register-form__content > input .hide-on-mobile {
            display: none; } }
    .register-form__content input + input {
      margin-top: 20px; }
    .register-form__content > textarea {
      min-height: 150px;
      width: 100%;
      border: 1px solid rgba(95, 95, 95, 0.35);
      border-radius: 23px;
      padding: 17px 30px; }
      @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
        .register-form__content > textarea {
          padding: 12px 24px; } }
      @media only screen and (max-width: 46.1875em) {
        .register-form__content > textarea {
          padding: 10px 15px;
          font-size: 14px;
          min-height: 130px; }
          .register-form__content > textarea .hide-on-mobile {
            display: none; } }
  .register-form__btn {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    border-radius: 50px;
    background-color: #f43127;
    border: 0;
    margin: 34px 17px 0 17px;
    display: inline-block;
    width: -webkit-fill-available; }
    .register-form__btn.success {
      width: auto;
      padding: 0 50px;
      margin-top: 0; }
    @media only screen and (max-width: 1283px) {
      .register-form__btn {
        margin: 30px 0 0; }
        .register-form__btn .hide-on-pc-HD {
          display: none; } }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .register-form__btn {
        margin: 28px 0 0;
        height: 45px; } }
    @media only screen and (max-width: 46.1875em) {
      .register-form__btn {
        margin: 24px 0 0;
        height: 42px;
        font-size: 16px; }
        .register-form__btn .hide-on-mobile {
          display: none; } }
  .register-form__select {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 5px 0; }
    @media only screen and (max-width: 46.1875em) {
      .register-form__select {
        display: block; }
        .register-form__select .hide-on-mobile {
          display: none; } }
    .register-form__select.grid {
      margin-top: 6px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 14px 24px;
      width: 80%; }
      @media only screen and (max-width: 63.9375em) {
        .register-form__select.grid {
          width: 100%;
          grid-template-columns: repeat(1, 1fr); }
          .register-form__select.grid .hide-on-bothTM {
            display: none !important; } }
      .register-form__select.grid .register-form__option {
        margin-top: 0;
        padding-left: 0; }
        .register-form__select.grid .register-form__option + .register-form__option {
          margin-top: 0; }
    .register-form__select.star {
      grid-template-columns: repeat(5, 1fr);
      gap: 0 12px; }
      @media only screen and (max-width: 46.1875em) {
        .register-form__select.star .register-form__option {
          margin-top: 0px; }
          .register-form__select.star .register-form__option .hide-on-mobile {
            display: none; } }
  .register-form__option {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    margin-top: 14px;
    cursor: pointer;
    height: 100%; }
    .register-form__option + .register-form__option {
      padding-left: 30px; }
      @media only screen and (max-width: 46.1875em) {
        .register-form__option + .register-form__option {
          padding-left: 0; }
          .register-form__option + .register-form__option .hide-on-mobile {
            display: none; } }
  .register-form__input {
    display: none;
    cursor: pointer; }
    .register-form__input:checked ~ .register-form__label {
      border: 0; }
      .register-form__input:checked ~ .register-form__label > svg {
        display: block; }
  .register-form__label {
    min-width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #cdcdcd;
    transition: 0.3s all linear; }
    .register-form__label > svg {
      transition: 0.3s all linear;
      display: none; }
    .register-form__label.tick {
      position: relative;
      width: 22px;
      height: 22px;
      margin-right: 12px;
      border: 2.8px solid #cdcdcd;
      border-radius: 4px;
      transition: all 0.1s; }
      .register-form__label.tick::after {
        content: "";
        position: absolute;
        right: -4px;
        top: -9px;
        width: 7px;
        height: 18px;
        z-index: 9;
        transform: rotate(138deg);
        background-color: #ffffff; }
  .register-form__value {
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    text-align: left; }

.register-cover {
  padding: 70px 0 0 100px;
  min-width: 50%; }
  @media only screen and (max-width: 1283px) {
    .register-cover {
      padding: 50px 0 0 60px; }
      .register-cover .hide-on-pc-HD {
        display: none; } }
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .register-cover {
      padding: 35px 0 0 30px; } }
  @media only screen and (max-width: 46.1875em) {
    .register-cover {
      padding: 30px 0 0 0; }
      .register-cover .hide-on-mobile {
        display: none; } }
  .register-cover__title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px; }
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
      .register-cover__title {
        font-size: 26px; } }
    @media only screen and (max-width: 46.1875em) {
      .register-cover__title {
        text-align: center;
        font-size: 20px; }
        .register-cover__title .hide-on-mobile {
          display: none; } }
  .register-cover__content .banner-content__box > svg {
    margin-top: 2px; }
  .register-cover__content .banner-content__text {
    font-size: 16px; }

.register-rotation {
  min-width: 50%;
  padding-right: 30px;
  margin-top: -103px;
  /* Hide select dropdown from SVG import file */
  /* Spinning animation */
  /* Selected prize animation */ }
  @media only screen and (max-width: 63.9375em) {
    .register-rotation {
      padding-right: 0;
      margin-top: 50px; }
      .register-rotation .hide-on-bothTM {
        display: none !important; } }
  .register-rotation__circle {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center; }
  .register-rotation__btn:visited, .register-rotation__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 160px;
    width: 160px;
    padding: 0;
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 1px 4px #444444); }
    @media only screen and (max-width: 63.9375em) {
      .register-rotation__btn:visited, .register-rotation__btn {
        font-size: 24px; }
        .register-rotation__btn:visited .hide-on-bothTM, .register-rotation__btn .hide-on-bothTM {
          display: none !important; } }
    @media only screen and (max-width: 46.1875em) {
      .register-rotation__btn:visited, .register-rotation__btn {
        font-size: 18px;
        height: 80px;
        width: 80px; }
        .register-rotation__btn:visited .hide-on-mobile, .register-rotation__btn .hide-on-mobile {
          display: none; } }
    .register-rotation__btn:visited > img, .register-rotation__btn > img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .register-rotation__btn:visited:hover, .register-rotation__btn:hover {
      opacity: 0.95;
      color: #fff; }
  .register-rotation .wheel__inner {
    width: 312px;
    height: 312px;
    border-radius: 50%;
    border: solid 6px #fff;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: lightgray;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 5s; }
  .register-rotation .wheel__sec {
    position: absolute;
    top: 0;
    left: 62px;
    width: 0;
    height: 0;
    border: solid;
    border-width: 150px 88px 0;
    border-color: transparent;
    transform-origin: 50% 100%; }
  .register-rotation .wheel__text {
    margin: 70px 0 0 70px; }
  .register-rotation .wheel__arrow {
    width: 70px;
    height: 70px;
    background: #fff;
    position: absolute;
    top: 121px;
    left: 115px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open sans", sans-serif; }
    .register-rotation .wheel__arrow::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: solid;
      border-width: 0 10px 20px;
      border-color: transparent;
      border-bottom-color: #fff;
      top: -15px;
      left: 25px; }
  .register-rotation .wheel__button {
    width: 60px;
    height: 60px;
    background-color: lightgray;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    font-size: 18px; }
    .register-rotation .wheel__button:hover {
      color: #27ae60; }
    .register-rotation .wheel__button:active {
      border: solid 3px rgba(0, 0, 0, 0.1);
      font-size: 15px; }
  .register-rotation .deal-wheel {
    --size: clamp(250px, 80vmin, 566px);
    --lg-hs: 0 3%;
    --lg-stop: 50%;
    --lg: linear-gradient(hsl(var(--lg-hs) 0%) 0 var(--lg-stop), hsl(var(--lg-hs) 20%) var(--lg-stop) 100%);
    position: relative;
    z-index: 2;
    display: grid;
    align-items: center;
    grid-template-areas: "spinner" "trigger";
    font-family: "Girassol", sans-serif;
    font-size: calc(var(--size) / 21);
    line-height: 1;
    text-transform: lowercase; }
    @media only screen and (max-width: 1366px) {
      .register-rotation .deal-wheel {
        --size: clamp(250px, 80vmin, 520px); } }
    @media only screen and (min-width: 63.9375em) and (max-width: 1240px) {
      .register-rotation .deal-wheel {
        --size: clamp(250px, 80vmin, 420px); }
        .register-rotation .deal-wheel .hide-on-pc-Lose {
          display: none; } }
    @media only screen and (min-width: 63.9375em) and (max-width: 1240px) {
      .register-rotation .deal-wheel {
        --size: clamp(250px, 80vmin, 496px); }
        .register-rotation .deal-wheel .hide-on-pc-Lose {
          display: none; } }
    .register-rotation .deal-wheel::after {
      position: absolute;
      content: "";
      left: 50%;
      top: 61%;
      z-index: -2;
      border-bottom: 250px solid #065626;
      border-left: 140px solid transparent;
      border-right: 140px solid transparent;
      transform: translateX(-50%); }
    .register-rotation .deal-wheel__bg {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: 590px;
      height: 590px;
      z-index: -1;
      border-radius: 50%;
      transform: translate(-50%, -50%); }
  .register-rotation .deal-wheel > * {
    grid-area: spinner; }
  .register-rotation .spinner {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-areas: "spinner";
    width: var(--size);
    height: var(--size);
    transform: rotate(calc(var(--rotate, 25) * 1deg));
    border-radius: 50%;
    box-shadow: inset 0 0 0 calc(var(--size) / 40) #00a556; }
  .register-rotation .spinner * {
    grid-area: spinner; }
  .register-rotation .prize {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 calc(var(--size) / 6) 0 calc(var(--size) / 20);
    width: 50%;
    height: 50%;
    transform-origin: center right;
    transform: rotate(var(--rotate));
    user-select: none;
    color: #fff; }
    .register-rotation .prize:nth-child(2n) {
      color: #010101; }
  .register-rotation .cap {
    --cap-size: calc(var(--size) / 4);
    position: relative;
    justify-self: center;
    width: var(--cap-size);
    height: var(--cap-size); }
  .register-rotation .cap select {
    display: none; }
  .register-rotation .cap svg {
    width: 100%; }
  .register-rotation .ticker {
    position: relative;
    left: calc(var(--size) / -15);
    width: calc(var(--size) / 10);
    height: calc(var(--size) / 20);
    background: var(--lg);
    z-index: 10;
    clip-path: polygon(20% 0, 100% 50%, 20% 100%, 0% 50%);
    transform-origin: center left; }
  .register-rotation .is-spinning .spinner {
    transition: transform 8s cubic-bezier(0.1, -0.01, 0, 1); }
  .register-rotation .is-spinning .ticker {
    animation: tick 700ms cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes tick {
  40% {
    transform: rotate(-12deg); } }
  .register-rotation .prize.selected .text {
    color: #f43127;
    animation: selected 800ms ease; }

@keyframes selected {
  25% {
    transform: scale(1.25);
    text-shadow: 1vmin 1vmin 0 rgba(255, 168, 168, 0.1); }
  40% {
    transform: scale(0.92);
    text-shadow: 0 0 0 rgba(255, 168, 168, 0.2); }
  60% {
    transform: scale(1.02);
    text-shadow: 0.5vmin 0.5vmin 0 rgba(255, 168, 168, 0.1); }
  75% {
    transform: scale(0.98); }
  85% {
    transform: scale(1); } }
