.footer {
    &-wrapper {
        padding: 40px 0 30px;

        @include responsive_mobile {
            padding: 25px 0;
        }
    }

    &-hotline {
        &__mobile {
            display: none;
            position: relative;

            @include responsive_bothTM {
                display: block;
                position: fixed;
                z-index: 11;
                bottom: 160px;
                right: 140px;
            }

            .coccoc-alo-ph-circle {
                width: 80px;
                height: 80px;
                top: 60px;
                left: 60px;
                position: absolute;
                background-color: transparent;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                border: 2px solid rgba(30, 30, 30, 0.4);
                opacity: 0.1;
                -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
                -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
                -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
                -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
                animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
            }

            .coccoc-alo-phone {
                background-color: transparent;
                width: 0;
                height: 0;
                cursor: pointer;
                z-index: 111 !important;
                -webkit-backface-visibility: hidden;
                -webkit-transform: translateZ(0);
                -webkit-transition: visibility 0.5s;
                -moz-transition: visibility 0.5s;
                -o-transition: visibility 0.5s;
                transition: visibility 0.5s;
            }

            .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
                background-color: rgba($color: $color-main, $alpha: 0.5);
                opacity: 0.75 !important;
            }

            .coccoc-alo-ph-circle-fill {
                width: 60px;
                height: 60px;
                top: 70px;
                left: 70px;
                position: absolute;
                background-color: #000;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                border: 2px solid transparent;
                opacity: 0.1;
                -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
                -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
                -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
                -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
                animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
            }

            .coccoc-alo-ph-img-circle {
                width: 60px;
                height: 60px;
                top: 70px;
                left: 70px;
                position: absolute;
                background: rgba(30, 30, 30, 0.1) url(https://drive.google.com/uc?id=1V3N2b79QjDWetC_ss9wI3c-xpWDymn9R)
                    no-repeat center center;
                background-size: 60%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                border: 2px solid transparent;
                opacity: 0.7;
                -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
                -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
                -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
                -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
                animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
            }

            .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
                background-color: $color-main;
            }

            .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
                border-color: $color-main;
                opacity: 0.5;
            }

            .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
            .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
                border-color: #75eb50;
                opacity: 0.5;
            }

            .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
            .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
                background-color: rgba(117, 235, 80, 0.5);
                opacity: 0.75 !important;
            }

            .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
            .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
                background-color: #75eb50;
            }

            @-moz-keyframes coccoc-alo-circle-anim {
                0% {
                    transform: rotate(0) scale(0.5) skew(1deg);
                    opacity: 0.1;
                }
                30% {
                    transform: rotate(0) scale(0.7) skew(1deg);
                    opacity: 0.5;
                }
                100% {
                    transform: rotate(0) scale(1) skew(1deg);
                    opacity: 0.1;
                }
            }

            @-webkit-keyframes coccoc-alo-circle-anim {
                0% {
                    transform: rotate(0) scale(0.5) skew(1deg);
                    opacity: 0.1;
                }
                30% {
                    transform: rotate(0) scale(0.7) skew(1deg);
                    opacity: 0.5;
                }
                100% {
                    transform: rotate(0) scale(1) skew(1deg);
                    opacity: 0.1;
                }
            }

            @-o-keyframes coccoc-alo-circle-anim {
                0% {
                    transform: rotate(0) scale(0.5) skew(1deg);
                    opacity: 0.1;
                }
                30% {
                    transform: rotate(0) scale(0.7) skew(1deg);
                    opacity: 0.5;
                }
                100% {
                    transform: rotate(0) scale(1) skew(1deg);
                    opacity: 0.1;
                }
            }

            @keyframes coccoc-alo-circle-anim {
                0% {
                    transform: rotate(0) scale(0.5) skew(1deg);
                    opacity: 0.1;
                }
                30% {
                    transform: rotate(0) scale(0.7) skew(1deg);
                    opacity: 0.5;
                }
                100% {
                    transform: rotate(0) scale(1) skew(1deg);
                    opacity: 0.1;
                }
            }

            @-moz-keyframes coccoc-alo-circle-fill-anim {
                0% {
                    transform: rotate(0) scale(0.7) skew(1deg);
                    opacity: 0.2;
                }
                50% {
                    transform: rotate(0) scale(1) skew(1deg);
                    opacity: 0.2;
                }
                100% {
                    transform: rotate(0) scale(0.7) skew(1deg);
                    opacity: 0.2;
                }
            }

            @-webkit-keyframes coccoc-alo-circle-fill-anim {
                0% {
                    transform: rotate(0) scale(0.7) skew(1deg);
                    opacity: 0.2;
                }
                50% {
                    transform: rotate(0) scale(1) skew(1deg);
                    opacity: 0.2;
                }
                100% {
                    transform: rotate(0) scale(0.7) skew(1deg);
                    opacity: 0.2;
                }
            }

            @-o-keyframes coccoc-alo-circle-fill-anim {
                0% {
                    transform: rotate(0) scale(0.7) skew(1deg);
                    opacity: 0.2;
                }
                50% {
                    transform: rotate(0) scale(1) skew(1deg);
                    opacity: 0.2;
                }
                100% {
                    transform: rotate(0) scale(0.7) skew(1deg);
                    opacity: 0.2;
                }
            }

            @keyframes coccoc-alo-circle-fill-anim {
                0% {
                    transform: rotate(0) scale(0.7) skew(1deg);
                    opacity: 0.2;
                }
                50% {
                    transform: rotate(0) scale(1) skew(1deg);
                    opacity: 0.2;
                }
                100% {
                    transform: rotate(0) scale(0.7) skew(1deg);
                    opacity: 0.2;
                }
            }

            @-moz-keyframes coccoc-alo-circle-img-anim {
                0% {
                    transform: rotate(0) scale(1) skew(1deg);
                }
                10% {
                    transform: rotate(-25deg) scale(1) skew(1deg);
                }
                20% {
                    transform: rotate(25deg) scale(1) skew(1deg);
                }
                30% {
                    transform: rotate(-25deg) scale(1) skew(1deg);
                }
                40% {
                    transform: rotate(25deg) scale(1) skew(1deg);
                }
                50% {
                    transform: rotate(0) scale(1) skew(1deg);
                }
                100% {
                    transform: rotate(0) scale(1) skew(1deg);
                }
            }

            @-webkit-keyframes coccoc-alo-circle-img-anim {
                0% {
                    transform: rotate(0) scale(1) skew(1deg);
                }
                10% {
                    transform: rotate(-25deg) scale(1) skew(1deg);
                }
                20% {
                    transform: rotate(25deg) scale(1) skew(1deg);
                }
                30% {
                    transform: rotate(-25deg) scale(1) skew(1deg);
                }
                40% {
                    transform: rotate(25deg) scale(1) skew(1deg);
                }
                50% {
                    transform: rotate(0) scale(1) skew(1deg);
                }
                100% {
                    transform: rotate(0) scale(1) skew(1deg);
                }
            }

            @-o-keyframes coccoc-alo-circle-img-anim {
                0% {
                    transform: rotate(0) scale(1) skew(1deg);
                }
                10% {
                    transform: rotate(-25deg) scale(1) skew(1deg);
                }
                20% {
                    transform: rotate(25deg) scale(1) skew(1deg);
                }
                30% {
                    transform: rotate(-25deg) scale(1) skew(1deg);
                }
                40% {
                    transform: rotate(25deg) scale(1) skew(1deg);
                }
                50% {
                    transform: rotate(0) scale(1) skew(1deg);
                }
                100% {
                    transform: rotate(0) scale(1) skew(1deg);
                }
            }

            @keyframes coccoc-alo-circle-img-anim {
                0% {
                    transform: rotate(0) scale(1) skew(1deg);
                }
                10% {
                    transform: rotate(-25deg) scale(1) skew(1deg);
                }
                20% {
                    transform: rotate(25deg) scale(1) skew(1deg);
                }
                30% {
                    transform: rotate(-25deg) scale(1) skew(1deg);
                }
                40% {
                    transform: rotate(25deg) scale(1) skew(1deg);
                }
                50% {
                    transform: rotate(0) scale(1) skew(1deg);
                }
                100% {
                    transform: rotate(0) scale(1) skew(1deg);
                }
            }
        }
    }

    &-top {
        @include gridBox(3, 40px, 40px);
        padding-bottom: 30px;
        border-bottom: 1px solid rgba($color: $color-desc, $alpha: 0.2);

        max-height: 300px;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        @include responsive_table {
            @include gridBox(2, 30px, 30px);
        }

        @include responsive_mobile {
            @include gridBox(1, 20px, 20px);
        }

        &__item {
            @include responsive_mobile {
                padding-top: 15px;
                border-top: 1px solid rgba(95, 95, 95, 0.2);
            }
        }

        &__title {
            font-size: 20px;
            font-weight: bold;
            padding-bottom: 8px;

            @include responsive_mobile {
                font-size: 16px;
            }
        }

        &__text {
        }

        &__link {
            padding: 7px 0 0;
            color: $color-main;
        }

        &__hotline {
            font-size: 20px;
            padding: 10px 0 5px;
            font-weight: bold;

            @include responsive_mobile {
                font-size: 17px;
                padding: 7px 0 3px;
            }
        }
    }

    &-bottom {
        @include flexBox(bothSides);
        padding-top: 60px;

        @include responsive_table {
            flex-flow: row wrap;
            justify-content: center;
        }

        @include responsive_mobile {
            flex-direction: column;
            padding-top: 30px;
        }

        &__social {
            @include flexBox(hor);

            @include responsive_table {
                padding-left: 50px;
            }

            @include responsive_mobile {
                padding: 25px 0;
            }
        }

        &__link {
            & + & {
                padding-left: 20px;
            }

            &:first-child {
                padding-left: 0;
            }
        }
    }

    &-copyright {
        font-size: 14px;
        color: rgba($color: $color-desc, $alpha: 0.5);

        @include responsive_table {
            padding: 20px 50px 0;
        }
    }
}
