.footer {
    &-wrapper {
        padding: 40px 0 30px;

        @include responsive_mobile {
            padding: 25px 0;
        }
    }

    &-top {
        @include gridBox(3, 40px, 40px);
        padding-bottom: 30px;
        border-bottom: 1px solid rgba($color: $color-desc, $alpha: 0.2);

        @include responsive_table {
            @include gridBox(2, 30px, 30px);
        }

        @include responsive_mobile {
            @include gridBox(1, 20px, 20px);
        }

        &__item {
            @include responsive_mobile {
                padding-top: 15px;
                border-top: 1px solid rgba(95, 95, 95, 0.2);
            }
        }

        &__title {
            font-size: 20px;
            font-weight: bold;
            padding-bottom: 8px;
        }

        &__text {
        }

        &__link {
            padding: 7px 0 0;
            color: $color-main;
        }

        &__hotline {
            padding: 10px 0 5px;
            font-size: 20px;
            font-weight: bold;
        }
    }

    &-bottom {
        @include flexBox(bothSides);
        padding-top: 60px;

        @include responsive_table {
            flex-flow: row wrap;
            justify-content: center;
        }

        @include responsive_mobile {
            flex-direction: column;
            padding-top: 30px;
        }

        &__social {
            @include flexBox(hor);

            @include responsive_table {
                padding-left: 50px;
            }

            @include responsive_mobile {
                padding: 25px 0;
            }
        }

        &__link {
            & + & {
                padding-left: 20px;
            }

            &:first-child {
                padding-left: 0;
            }
        }
    }

    &-copyright {
        font-size: 14px;
        color: rgba($color: $color-desc, $alpha: 0.5);

        @include responsive_table {
            padding: 20px 50px 0;
        }
    }
}
