.header {
    background-color: #f4ecde;
    position: sticky;
    top: 0;
    z-index: 10;

    &-wrapper {
        @include flexBox(hor);
        padding: 14px 0;

        @include responsive_bothTM {
            @include flexBox(bothSides);
            padding: 10px 0;
        }
    }

    &-logo {
        padding-right: 68px;

        @include responsive_Change {
            padding-right: 45px;
        }

        @include responsive_mobile {
            padding-right: 15px;
        }
    }

    &-cover {
        width: 100%;
        @include flexBox(bothSides);

        @include responsive_bothTM {
            justify-content: right;
        }
    }

    &-nav {
        @include flexBox(hor);

        &__link {
            & + & {
                padding-left: 40px;

                @include responsive_Change {
                    padding-left: 30px;
                }
            }

            font-weight: bold;

            &.active {
                color: $color-main;
            }
        }

        @include responsive_bothTM {
            display: none;
        }

        &__mobile {
            padding: 20px 10px;

            .header-nav {
                &__link {
                    padding: 10px;
                    border-bottom: 1px solid rgba(95, 95, 95, 0.2);

                    &:last-child {
                        border: 0;
                    }
                }
            }
        }
    }

    &-box {
        @include flexBox(hor);

        &__icon {
            padding-right: 12px;

            @include responsive_mobile {
                width: 40px;
            }
        }

        &__sub {
            color: $color-desc;
        }

        &__hotline {
            font-size: 22px;
            font-weight: bold;
            color: $color-main;

            @include responsive_bothTM {
                font-size: 16px;
            }
        }

        // @include responsive_bothTM {
        //     padding-right: 30px;
        // }
    }

    &-mobile {
        display: none;
        margin-left: 26px;

        @include responsive_bothTM {
            display: block;
        }

        & > i {
            font-size: 28px;
            color: $color-desc;
        }
    }
}
