.header {
    background-color: transparent;
    height: 0;

    &-wrapper {
        position: relative;
        z-index: 2;
        @include flexBox(hor);
        padding: 24px 0;

        @include responsive_bothTM {
            @include flexBox(bothSides);
            padding: 10px 0;
        }
    }

    &-scroll {
        &.fixed {
            position: fixed;
            top: 0;
            left: 0%;
            width: 100%;
            z-index: 1054;

            background-color: #f4ecde;
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
            transition: all 0.5s linear;
            animation: smoothScroll 0.8s forwards;

            &.active {
                display: block;
            }

            .header-wrapper {
                padding: 10px 0;
            }
        }
    }

    &-logo {
        padding-right: 68px;

        @include responsive_Change {
            padding-right: 45px;
        }

        @include responsive_table {
            width: 240px;
        }

        @include responsive_mobile {
            padding-right: 15px;
            width: 150px;
        }
    }

    &-cover {
        width: 100%;
        @include flexBox(bothSides);

        @include responsive_bothTM {
            display: none;
        }
    }

    &-nav {
        @include flexBox(hor);

        &__link {
            & + & {
                padding-left: 40px;

                @include responsive_Change {
                    padding-left: 30px;
                }
            }

            font-weight: bold;

            &.active {
                color: $color-main;
            }
        }

        @include responsive_bothTM {
            display: none;
        }

        &__mobile {
            padding: 20px 10px;

            .header-nav {
                &__link {
                    padding: 10px;
                    border-bottom: 1px solid rgba(95, 95, 95, 0.2);

                    &:last-child {
                        border: 0;
                    }
                }
            }
        }
    }

    &-box {
        @include flexBox(hor);

        &__icon {
            padding-right: 12px;
        }

        &__sub {
            color: $color-desc;

            @include responsive_mobile {
                font-size: 14px;
                line-height: 1.2;
            }
        }

        &__hotline {
            font-size: 22px;
            font-weight: bold;
            color: $color-main;

            @include responsive_bothTM {
                font-size: 16px;
            }

            @include responsive_mobile {
                font-size: 15px;
                line-height: 1.4;
            }
        }

        // @include responsive_bothTM {
        //     padding-right: 30px;
        // }
    }

    &-mobile {
        display: none;
        margin-left: 26px;

        @include responsive_bothTM {
            display: block;
        }

        & > i {
            font-size: 28px;
            color: $color-desc;
        }
    }
}
